body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.completed {
  text-decoration: line-through;
}

.todo {
  display: flex;
  gap: 1rem;
  width: 100vw;
  text-align: left;
  padding-inline: 20%;
  box-sizing: border-box;
}

.todo > div {
  flex-basis: 100%;
}